<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.16.54.0</key>
	<string></string>
	<key>1.0.0.0</key>
	<string></string>
	<key>1.7.56.0</key>
	<string></string>
	<key>1.14.65.0</key>
	<string></string>
	<key>1.32.64.0</key>
	<string></string>
	<key>1.33.64.0</key>
	<string></string>
	<key>2.30.65.0</key>
	<string>KeypadLinc On-Off, 6-button Dual-Band</string>
</dict>
</plist>
